.file-selector {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.file-selector::-webkit-scrollbar {
    display: none;
}

.file-selector tr:nth-child(odd) {
    background-color: #686767;
}

.file-selector td {
    padding: 0;
}