.notification {
    padding: 0;
    padding-right: 20px;
    height: 50px;
}

.Toastify__toast {
    width: auto !important;
    height: 50px !important;
    min-height: 50px !important;
}

.notification-alarm {
    background-color: var(--warning);
    color: white;
}

.notification-info {
    background-color: var(--info);
    color: white;
}

.notification-err {
    background-color: var(--danger);
    color: white;
}

.notification-close-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.notification-close-button {
    filter: invert(1);
}