.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-start {
    justify-content: flex-start;
}

.success-icon {
    background-color: var(--success);
    margin-bottom: -4px;
}

.failed-icon {
    background-color: var(--danger);
    margin-bottom: -4px;
}