.visualizer {
    position: relative;
}

.visualizer-info {
    position: fixed;
    top: 10px;
    margin-left: 20px;
}

.visualizer-info *:not(.visualizer-progress) {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0px 10px;
    border-radius: 2px;
    width: fit-content;
}

.visualizer-info h5 {
    font-size: 0.9rem;
}

.visualizer-settings {
    position: fixed;
    top: 10px;
    right: 10px;
}

.visualizer-info-movement {
    position: fixed;
    top: 500px;
    margin-left: 20px;
}

.visualizer-info p,
.visualizer-info td {
    font-size: 0.8rem;
}

.visualizer-load-file {
    position: absolute;
    text-align: center;
    top: -260px;
    left: 15px;
}

.visualizer-controls {
    display: flex;
    gap: 10px;
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 60px;
}